:root {
  --primary-color: #e67e22;
  --secondary-color: #f44336;
  --text-color-black: #555;
  --text-color-white: #fff;

  --text-color-white-20: #cccccc;
  --text-color-white-40: #999999;
  --text-color-white-50: #808080;
  --text-color-white-60: #666666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section--info-box {
  text-align: center;
  margin-bottom: 48px;
}

@media (max-width: 992px) {
  .section--info-box {
    margin-bottom: 32px;
  }
}

.section--title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 12px;
}

@media (max-width: 992px) {
  .section--title {
    font-size: 30px;
  }
}

.section--description {
  color: var(--text-color-white-40);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 1px;
}

@media (max-width: 992px) {
  .section--description {
    font-size: 12px;
  }
}
