/* ! SECTION - HEADER ! */
/* ! ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ! */
.section--header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding: 0 5%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }
}

.header--image {
  width: 150px;
}

@media (max-width: 768px) {
  .header--image {
    padding-top: 14px;
  }
}

.header--links {
  flex: 1;
  display: flex;
  justify-content: end;
  text-align: right;
}

@media (max-width: 768px) {
  .header--links {
    position: fixed;
    top: 0;
    right: -200px;
    background-color: var(--secondary-color);
    height: 100vh;
    min-width: 200px;
    z-index: 1;
    transition: 0.5s;
  }
}

.header--button-menu,
.header--button-close {
  display: none;
}

@media (max-width: 768px) {
  .header--button-menu,
  .header--button-close {
    display: block;
    width: 18px;
    cursor: pointer;
  }

  .header--button-menu path,
  .header--button-close path {
    fill: var(--text-color-white);
  }

  .header--button-close {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 30px 36px;
  }
}

.header--list {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
}

.header--list::after {
  content: "";
  background-color: var(--secondary-color);
  display: block;
  height: 2px;
  width: 0%;
  margin-top: 4px;
  transition: 0.3s;
}

.header--list:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .header--list {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.header--link {
  text-decoration: none;
  color: var(--text-color-white);
  font-size: 14px;
}

@media (max-width: 768px) {
  .header--link {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .header--lists {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-right: 24px;
    margin-left: 24px;
  }
}
/* ! ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ! */
/* ! SECTION - HEADER ! */

/* ! SECTION - HERO ! */
/* ! ↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ! */
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color-white);
  width: 90%;
  text-align: center;
  margin: auto;
}

.hero--title {
  font-size: 62px;
  line-height: 1.2;
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .hero--title {
    font-size: 52px;
    margin-bottom: 16px;
  }
}

@media (max-width: 479px) {
  .hero--title {
    font-size: 44px;
    word-break: break-all;
  }
}

.hero--description {
  width: 70%;
  color: var(--text-color-white-20);
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 48px;
}

@media (max-width: 992px) {
  .hero--description {
    width: 80%;
    font-size: 14px;
    margin-bottom: 32px;
  }
}

.hero--button-visit {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color-white);
  border: 1px solid var(--text-color-white);
  padding: 14px 32px;
  border-radius: 5px;
  font-size: 14px;
}

.hero--button-visit:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

@media (max-width: 992px) {
  .hero--button-visit {
    padding: 14px 32px;
    font-size: 13px;
  }
}
/* ! ↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ! */
/* ! SECTION - HERO ! */

/* ! SECTION - COURSE ! */
/* ! ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ! */
.section--course {
  padding: 96px 24px;
}

@media (max-width: 992px) {
  .section--course {
    padding: 80px 24px;
  }
}

@media (max-width: 768px) {
  .section--course {
    padding: 64px 24px;
  }
}

.course--content-box {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  text-align: center;
}

@media (max-width: 992px) {
  .course--content-box {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .course--content-box {
    flex-wrap: wrap;
    gap: 32px;
  }
}

.course--column {
  width: 100%;
  background-color: #feeceb;
  border-radius: 5px;
  padding: 48px 24px;
}

@media (max-width: 992px) {
  .course--column {
    background-color: #feeceb;
    border-radius: 5px;
    padding: 32px 16px;
  }
}

.course--column:hover {
  background-color: #f44336;
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.course--title {
  color: var(--text-color-black);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 12px;
}
.course--column:hover .course--title {
  color: var(--text-color-white);
}

@media (max-width: 992px) {
  .course--title {
    font-size: 20px;
  }
}

.course--description {
  color: var(--text-color-white-40);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}

.course--column:hover .course--description {
  color: #feeceb;
}

@media (max-width: 992px) {
  .course--description {
    font-size: 13px;
  }
}
/* ! ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ! */
/* ! SECTION - COURSE ! */

/* ! SECTION - CAMPUS ! */
/* ! ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ! */
.section--campus {
  padding: 96px 24px;
}

@media (max-width: 992px) {
  .section--campus {
    padding: 80px 24px;
  }
}

@media (max-width: 768px) {
  .section--campus {
    padding: 64px 24px;
  }
}

.campus--content-box {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .campus--content-box {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .campus--content-box {
    flex-wrap: wrap;
    gap: 32px;
  }
}

.campus--col {
  width: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.campus--col img {
  display: block;
  width: 100%;
}

.campus--campus-name {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.campus--campus-name:hover {
  background-color: rgba(244, 67, 54, 0.75);
}

.campus--campus-name h3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  color: var(--text-color-white);
  opacity: 0;
}
.campus--campus-name:hover h3 {
  opacity: 1;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

@media (max-width: 992px) {
  .campus--campus-name h3 {
    font-size: 20px;
  }
}
/* ! ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ! */
/* ! SECTION - CAMPUS ! */

/* ! SECTION - FACILITIES ! */
/* ! ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ! */
.section--facilities {
  padding: 96px 24px;
}

@media (max-width: 992px) {
  .section--facilities {
    padding: 80px 24px;
  }
}

@media (max-width: 768px) {
  .section--facilities {
    padding: 64px 24px;
  }
}

.facilities--content-box {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .facilities--content-box {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .facilities--content-box {
    flex-wrap: wrap;
    gap: 32px;
  }
}

.facilities--col {
  flex-basis: 100%;
}

.facilities--col img {
  border-radius: 10px;
  display: block;
  width: 100%;
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .facilities--col img {
    margin-bottom: 20px;
  }
}

.facilities--col h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--text-color-black);
  margin-bottom: 8px;
}

@media (max-width: 992px) {
  .facilities--col h3 {
    font-size: 18px;
  }
}

.facilities--col p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
  color: var(--text-color-white-40);
}

@media (max-width: 992px) {
  .facilities--col p {
    font-size: 12px;
  }
}
/* ! ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ! */
/* ! SECTION - FACILITIES ! */

/* ! SECTION - TESTIMONIALS ! */
/* ! ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ! */
.section--testimonials {
  padding: 96px 24px;
}

@media (max-width: 992px) {
  .section--testimonials {
    padding: 80px 24px;
  }
}

@media (max-width: 768px) {
  .section--testimonials {
    padding: 64px 24px;
  }
}

.testimonials--content-box {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .testimonials--content-box {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .testimonials--content-box {
    flex-wrap: wrap;
    gap: 32px;
  }
}

.testimonials--col {
  background-color: #feeceb;
  flex-basis: 100%;
  border-radius: 10px;
  padding: 24px;
  cursor: pointer;
  display: flex;
  gap: 32px;
}

@media (max-width: 479px) {
  .testimonials--col {
    gap: 16px;
  }
}

.testimonials--col img {
  margin-left: 12px;
  height: 40px;
  border-radius: 50%;
}

@media (max-width: 479px) {
  .testimonials--col img {
    margin-left: 0;
  }
}

.testimonials--col p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--text-color-white-40);
  margin-bottom: 16px;
}

@media (max-width: 992px) {
  .testimonials--col p {
    font-size: 12px;
    margin-bottom: 12px;
  }
}

.testimonials--col h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--text-color-black);
  margin-bottom: 16px;
}

@media (max-width: 992px) {
  .testimonials--col h3 {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.testimonials--col svg {
  height: 16px;
}

@media (max-width: 992px) {
  .testimonials--col svg {
    height: 14px;
  }
}

.testimonials--col svg path {
  fill: var(--secondary-color);
}
/* ! ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ! */
/* ! SECTION - TESTIMONIALS ! */

/*
  SPACING SYSTEM
  * ⇾ 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  FONT SIZE SYSTEM
  ? ⇾ 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
